/* Write your CSS here */
.item {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 30px;
}
.image {
  width: 223px;
  height: 150px;
}
.head {
  font-size: 20px;
  margin-bottom: 0px;
  font-family: 'roboto';
  color: #f8fafc;
}
.loco {
  margin-top: 7px;
  font-family: 'roboto';
  color: #f8fafc;
}
.button {
  background: transparent;
  border: none;
  padding: 0px;
  outline: none;
  cursor: pointer;
}

.image-border {
  border: 2px solid #2dd4bf;
  border-radius: 10px;
}
